/* Different colors and animations depending on the course type :D */

.dcc {
    background: #1D7AFC;
}

.fmat {
    background: #DA62AC;
}

.ofg {
    background: #F15B50;
}

.opt {
    background: #6E5DC6;
}

.eti {
    background: #2898BD;
}

.general {
    background: #6A9A23;
}

.opt-mat {
    background: #DA62AC;
}

.optcom {
    background: #5E4DB2;
}

.optlet {
    background: #E56910;
}

.econ {
    background: #9543c5;
}

.opt-cien {
    background: #1F845A;
}

.optbio {
    background: #164B35;
}

.opt-ast {
    background-color: #130947;
}


.optcomp {
    background-color: #1686d6;
}

.major {
    background: #0055CC;
}

.dcc:hover,
.fmat:hover,
.ofg:hover,
.opt:hover,
.eti:hover,
.general:hover,
.opt-mat:hover,
.optlet:hover,
.optcom:hover,
.econ:hover,
.opt-cien:hover,
.opt-ast:hover,
.optbio:hover,
.optcomp:hover,
.major:hover {
    filter: brightness(1.3);
    overflow: hidden;
}


.taken {
    opacity: 0.55;
}

