body {
    font-family: Helvetica, sans-serif;
    background-color: #161A1D;
    color: #ededed;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.semester {
    text-align: center;
    background: #22272B;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 6px;
    padding: 2px;
    cursor: grab;
    width: 90px;
    height: 70px;
    font-size: 10px;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.course-pool {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    height: 180px;
    overflow-y: scroll;
    background: #22272B;
}

.collapsible-course-pool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.semester-pool {
    display: flex;
    justify-content: center;
    align-content: center;
}

.header {
    background: #2C333A;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header:hover {
    background: #373f47;
    cursor: pointer;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.legend-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 4px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2C333A;
}

::-webkit-scrollbar-thumb {
    background: #8590A2;
}


#add-semester-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2C333A;
    overflow: visible;
}

.tooltip-text {
    visibility: hidden;
    background-color: rgb(14, 14, 14);
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: calc(56%);
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
}

.tooltip-text::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}


#add-semester-btn:hover .tooltip-text {
    visibility: visible;
}

#add-semester-btn:hover {
    background: #373f47;
    cursor: pointer;
}

.clickable-h2 {
    text-decoration: none;
    cursor: pointer;
}

.clickable-h2:visited {
    color: inherit;
}

.btn-container {
    background-color: #2C333A;
    padding: 16px;
    border-radius: 8px;
}

.btn-container:hover {
    background-color: #373f47;
}

.btn-create {
    text-decoration: none;
    cursor: pointer;
}

.btn-create:visited {
    color: inherit;
}

.about {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    font-size: 18px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.feature {
    background: #ae2482;
    padding: 16px;
    border-radius: 8px;
}

.prereq-tooltip {
    position: absolute;
    z-index: 10000; /* Ensure it's high enough */
    visibility: hidden;
    opacity: 0;
    background-color: rgb(14, 14, 14);
    text-align: center;
    text-wrap: wrap;
    max-width: 140px;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
}

.prereq-tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Position the arrow at the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgb(14, 14, 14) transparent transparent transparent; /* Arrow color matches tooltip */
}


.prereq-tooltip.visible {
    visibility: visible;
    opacity: 100;
}
.course:hover .prereq-tooltip {
    transition-delay: 1.5s;
}

