body {
    background: #0f0f0f;
    font-family: Roboto, sans-serif;
}

.semester {
    text-align: center;
    background: lightgrey;
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
}
.course {
    text-align: center;
    margin: 8px;
    padding: 10px;
    cursor: grab;
    width: 80px;
    height: 60px;
    background: lightgrey;
    font-size: 10px;
    border-radius: 10px;

}
.hidden {
    display: none;
}
.course-pool {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    height: 200px;
    overflow-y: scroll;
    background: darkgrey;
    border-radius: 10px;
}

.semester-pool {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-content: center;
    border-radius: 10px;
    background: darkgrey;
}

.add-semester{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c3c3c3;
}

.add-semester:hover {
    background-color: #e0e0e0;
}

.dcc {
    background: cyan;
}

.fmat {
    background: lightcoral;
}

.ofg {
    background: orange;
}

.opt {
    background: mediumpurple;
}

.eti {
    background: aquamarine;
}

.general {
    background: darkkhaki;
}