body {
    font-family: Helvetica, sans-serif;
    background-color: #161A1D;
    color: #ededed;
    overflow-y: scroll;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.semester {
    text-align: center;
    background: #22272B;
    margin: 4px;
    padding: 2px;
    border-radius: 6px;
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 6px;
    padding: 2px;
    cursor: grab;
    width: 90px;
    height: 70px;
    font-size: 10px;
    border-radius: 4px;
}

.hidden {
    display: none;
}
#add-semester-btn {
    display: flex;
    align-items: center;
    background: #2C333A;
    padding-right: 6px;
    border-radius: 4px;
}

#add-semester-btn:hover {
    background: #373f47;
    cursor: pointer;
}

.course-pool {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    height: 180px;
    overflow-y: scroll;
    background: #22272B;
}

.collapsible-course-pool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
}

.semester-pool {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

.header {
    background: #2C333A;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header:hover {
    background: #373f47;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2C333A;
}

::-webkit-scrollbar-thumb {
    background: #8590A2;
}