* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #131313;
  color: #ededed;
}


.globalGrabbing,
.globalGrabbing *,
body.globalGrabbing,
body.globalGrabbing *,
html.globalGrabbing,
html.globalGrabbing * {
  cursor: grabbing !important;
  user-select: none !important;
}


body.globalGrabbing [data-course-id] {
  pointer-events: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2C333A;
}

::-webkit-scrollbar-thumb {
  background: #8590A2;
}

a {
  color: #5da1ff;
  text-decoration: none;
}

a:visited {
  color: #5da1ff;
}

a:hover {
  color: #5da1ff;
  text-decoration: underline;
}